.badge {
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.badge-main {
    display: flex;
    position: relative;
}

.badge-xs {
    position: absolute;
    right: -5px;
    top: -5px;
    background-color: tomato;
    width: 5px;
    height: 5px;
}
