.badge {
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.badge-main {
    display: flex;
    position: relative;
}

.badge-xs {
    position: absolute;
    right: -5px;
    top: -5px;
    background-color: tomato;
    width: 5px;
    height: 5px;
}

.user-component__mark-circle {
    width: 14px;
    height: 14px;
    border-radius: 15px;
    border: solid 1px tomato;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-component__mark-ex {
    font-size: 12px;
    color: tomato;
}